In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('min_max_avg_states.csv')
temp.head()

   code  country  year month   min   max   avg
0     1  Alabama  1895   jan  33.4  52.7  43.1
1     1  Alabama  1896   jan  34.0  53.0  43.5
2     1  Alabama  1897   jan  31.4  52.1  41.8
3     1  Alabama  1898   jan  38.8  59.1  49.0
4     1  Alabama  1899   jan  33.1  54.4  43.8

In [3]:
state_codes = pd.read_csv("./state_codes.csv")
state_codes.head()

   code     country
0     1     Alabama
1     2     Arizona
2     3    Arkansas
3     4  California
4     5    Colorado

In [6]:
state_codes.code.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  50, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110])