In [2]:
import pandas as pd

In [8]:
state_codes = pd.read_csv("./state_codes.csv")
state_codes.head()

   code      country
0     1      Alabama
1     2      Arizona
2     3     Arkansas
3     4   California
4     5     Colorado

In [9]:
avg_df = pd.read_csv("./avg_states.csv")
min_df = pd.read_csv("./min_states.csv")
max_df = pd.read_csv("./max_states.csv")
avg_df.head()

,code,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,10021895,43.1,37.4,54.5,63.4,69.5,77.5,79.2,79.5,77.8,59.7,53.2,44.9
1,10021896,43.5,47.7,52.5,68.0,75.9,77.4,81.2,82.2,75.9,63.2,57.3,46.4
2,10021897,41.8,51.1,60.2,62.4,69.0,81.2,81.5,78.8,75.6,67.1,54.2,47.4
3,10021898,49.0,46.1,59.2,58.8,74.1,80.4,80.0,78.8,75.2,61.0,49.8,43.4
4,10021899,43.8,40.0,55.6,61.7,76.1,79.9,80.4,80.9,72.8,66.0,55.3,44.7

10021895

100 -> country code
2 -> division

In [27]:
avg_df = avg_df.drop(columns=["Anomaly"])
min_df = min_df.drop(columns=["Anomaly"])
max_df = max_df.drop(columns=["Anomaly"])

In [28]:
# columns to lowercase
avg_df.columns = avg_df.columns.str.lower()
min_df.columns = min_df.columns.str.lower()
max_df.columns = max_df.columns.str.lower()

In [29]:
avg_df["month"] = avg_df["date"] % 100  # 190001 -> 01
avg_df["year"] = avg_df["date"] // 100  # 190001 -> 1900

min_df["month"] = min_df["date"] % 100
min_df["year"] = min_df["date"] // 100

max_df["month"] = max_df["date"] % 100
max_df["year"] = max_df["date"] // 100

avg_df = avg_df.drop(columns=["date"])
min_df = min_df.drop(columns=["date"])
max_df = max_df.drop(columns=["date"])

In [30]:
# reorder columns
avg_df = avg_df[['year', 'month', 'value']]
min_df = min_df[['year', 'month', 'value']]
max_df = max_df[['year', 'month', 'value']]

In [31]:
# rename value to farenheit
avg_df = avg_df.rename(columns={"value": "fahrenheit"})
min_df = min_df.rename(columns={"value": "fahrenheit"})
max_df = max_df.rename(columns={"value": "fahrenheit"})

In [ ]:
# # add che celsius column
# avg_df["celsius"] = ((avg_df["fahrenheit"] - 32) * 5 / 9).round(2)
# min_df["celsius"] = ((min_df["fahrenheit"] - 32) * 5 / 9).round(2)
# max_df["celsius"] = ((max_df["fahrenheit"] - 32) * 5 / 9).round(2)

In [33]:
# ensure the columns is a number
avg_df['fahrenheit'] = pd.to_numeric(avg_df['fahrenheit'], errors='coerce')
min_df['fahrenheit'] = pd.to_numeric(min_df['fahrenheit'], errors='coerce')
max_df['fahrenheit'] = pd.to_numeric(max_df['fahrenheit'], errors='coerce')

In [34]:
avg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1499 non-null   int64
 1   month       1499 non-null   int64
 2   fahrenheit  1499 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 35.3 KB

In [35]:
min_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1499 non-null   int64
 1   month       1499 non-null   int64
 2   fahrenheit  1499 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 35.3 KB

In [36]:
max_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        1499 non-null   int64
 1   month       1499 non-null   int64
 2   fahrenheit  1499 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 35.3 KB

In [37]:
avg_df.to_csv("us_avg_clean.csv", index=False)
min_df.to_csv("us_min_clean.csv", index=False)
max_df.to_csv("us_max_clean.csv", index=False)