In [199]:
import pandas as pd

TXT_AVALIABLE = True

In [200]:
if TXT_AVALIABLE:
    # Read the files into DataFrames
    avg_states = pd.read_fwf('avg_states.txt', dtype=str, header=None)
    min_states = pd.read_fwf('min_states.txt', dtype=str, header=None)
    max_states = pd.read_fwf('max_states.txt', dtype=str, header=None)

    print(avg_states.head())
    print(avg_states.tail())

    map = {
        0: "code",
        1: "jan",
        2: "feb",
        3: "mar",
        4: "apr",
        5: "may",
        6: "jun",
        7: "jul",
        8: "aug",
        9: "sep",
        10: "oct",
        11: "nov",
        12: "dec"
    }

    # Display the DataFrames
    avg_states = avg_states.rename(columns=map)
    min_states = min_states.rename(columns=map)
    max_states = max_states.rename(columns=map)

    avg_states.to_csv('avg_states.csv', index=False)
    min_states.to_csv('min_states.csv', index=False)
    max_states.to_csv('max_states.csv', index=False)

           0      1      2      3      4      5      6      7      8      9   \
0  0010021895  43.10  37.40  54.50  63.40  69.50  77.50  79.20  79.50  77.80
1  0010021896  43.50  47.70  52.50  68.00  75.90  77.40  81.20  82.20  75.90
2  0010021897  41.80  51.10  60.20  62.40  69.00  81.20  81.50  78.80  75.60
3  0010021898  49.00  46.10  59.20  58.80  74.10  80.40  80.00  78.80  75.20
4  0010021899  43.80  40.00  55.60  61.70  76.10  79.90  80.40  80.90  72.80

      10     11     12
0  59.70  53.20  44.90
1  63.20  57.30  46.40
2  67.10  54.20  47.40
3  61.00  49.80  43.40
4  66.00  55.30  44.70
               0      1      2      3      4      5      6      7      8   \
12609  3650022020  47.60  48.10  58.30  61.00  69.90  77.60  82.40  81.10
12610  3650022021  44.80  42.60  56.00  60.80  68.80  78.20  80.30  80.40
12611  3650022022  43.00  45.80  55.00  62.50  72.40  79.60  83.30  80.40
12612  3650022023  48.10  50.30  54.80  61.60  69.90  76.50  82.80  82.60
12613  3650022024  42.10  51.60  56.10  63.50  72.60  80.00  82.20  81.80

          9      10     11     12
12609  73.80  64.50  56.70  45.50
12610  75.20  66.00  53.30  53.60
12611  75.40  63.20  51.90  46.30
12612  75.90  65.40  54.00  48.90
12613  75.40  68.00  57.30  99.90

In [201]:
# Parse the 'code' column to create 'country_code' and 'year' columns
min_states['year'] = min_states['code'].str[-4:]
min_states['code'] = min_states['code'].str[:3]

# Reorder columns to put 'year' as the second column
cols = min_states.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
min_states = min_states[cols]

min_states = min_states[(min_states['code'].astype(int) <= 50) | (
    min_states['code'].astype(int) == 110)]

In [202]:
# Parse the 'code' column to create 'country_code' and 'year' columns
max_states['year'] = max_states['code'].str[-4:]
max_states['code'] = max_states['code'].str[:3]

# Reorder columns to put 'year' as the second column
cols = max_states.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
max_states = max_states[cols]

max_states = max_states[(max_states['code'].astype(int) <= 50) | (
    max_states['code'].astype(int) == 110)]

In [203]:
# Parse the 'code' column to create 'country_code' and 'year' columns
avg_states['year'] = avg_states['code'].str[-4:]
avg_states['code'] = avg_states['code'].str[:3]

# Reorder columns to put 'year' as the second column
cols = avg_states.columns.tolist()
cols.insert(1, cols.pop(cols.index('year')))
avg_states = avg_states[cols]

avg_states = avg_states[(avg_states['code'].astype(int) <= 50) | (
    avg_states['code'].astype(int) == 110)]

# Merge with state codes

In [204]:
# Read the state codes into a DataFrame
state_codes = pd.read_csv('state_codes.csv', dtype=str)

# Merge the state codes with avg_states, min_states, and max_states
avg_states = avg_states.merge(state_codes, on='code', how='left')
min_states = min_states.merge(state_codes, on='code', how='left')
max_states = max_states.merge(state_codes, on='code', how='left')

# Reorder columns
cols = avg_states.columns.tolist()
cols.insert(1, cols.pop(cols.index('country')))
avg_states = avg_states[cols]
min_states = min_states[cols]
max_states = max_states[cols]


avg_states.tail()

,code,country,year,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
6499,110,National (contiguous 48 States),2020,35.53,36.16,46.08,50.86,60.89,70.27,75.63,74.68,65.89,54.28,46.31,35.71
6500,110,National (contiguous 48 States),2021,34.59,30.61,45.52,51.85,60.33,72.57,75.40,73.96,67.78,56.95,45.07,39.34
6501,110,National (contiguous 48 States),2022,31.17,33.66,44.08,50.67,61.92,70.79,76.39,74.59,68.02,55.18,40.96,33.12
6502,110,National (contiguous 48 States),2023,35.08,36.34,40.53,51.30,62.37,68.99,75.65,74.35,67.73,56.03,44.22,39.76
6503,110,National (contiguous 48 States),2024,31.89,40.82,44.96,53.64,62.26,71.78,75.69,73.99,68.61,58.98,45.28,99.90

In [205]:
avg_states.to_csv('avg_states_final.csv', index=False)
min_states.to_csv('min_states_final.csv', index=False)
max_states.to_csv('max_states_final.csv', index=False)